@font-face {
    font-family: 'Borda';
    src: url('Borda-Regular12.woff2') format('woff2'),
        url('Borda-Regular12.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Borda';
    src: url('Borda-Regular3.woff2') format('woff2'),
        url('Borda-Regular3.woff') format('woff');
    font-weight: 600; /* Demi bold */
    font-style: normal;
    font-display: swap;
}

